{% extends 'base.html' %}
{% block title %}Contact{% endblock %}

{% block content %}
<div class="container">
  <h4>Contact Us</h4>
  <form method="post">
    {% csrf_token %}
    <div class="input-field">
      {{ form.name.label_tag }} {{ form.name }}
    </div>
    <div class="input-field">
      {{ form.email.label_tag }} {{ form.email }}
    </div>
    <div class="input-field">
      {{ form.message.label_tag }} {{ form.message }}
    </div>
    {{ form.website }} {# hidden honeypot #}
    <button type="submit" class="btn">Send Message</button>
  </form>
</div>
{% endblock %}
