{% extends 'base.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block content %}
  <section class="section center-align">
    <section class="section center-align">
      <h3>Login</h3>
      <div class="row form-wrapper">
        <form method="post">
          {% csrf_token %}
          <div class="input-field col s12">
            {% include 'partials/form_errors.html' %}
            {{ form.username.label_tag }}
            {{ form.username }}
          </div>
          <div class="input-field col s12">
            {{ form.password.label_tag }}
            {{ form.password }}
          </div>
          <button type="submit" class="btn">Log In</button>
          <div class="right-align">
            <a href="{% url 'password_reset' %}">Forgot your password?</a>
          </div>
          
        </form>
      </div>
    </section>
{% endblock %}
