{% extends 'base.html' %}
{% load static %}

{% block title %}Register{% endblock %}

{% block content %}
  <section class="section center-align" role="region" aria-labelledby="register-heading">
    <h2 id="register-heading">Register</h2>

    <div class="row form-wrapper">
      <form class="col s12" method="post" role="form" aria-describedby="register-heading">
        {% csrf_token %}
        {% include 'partials/form_errors.html' %}
        <input type="hidden" name="next" value="{{ next }}">

        <div class="row">
          <div class="input-field col s6">
            {{ form.username.label_tag }}
            {{ form.username }}
          </div>
          <div class="input-field col s6">
            {{ form.email.label_tag }}
            {{ form.email }}
          </div>
        </div>

        <div class="row">
          <div class="input-field col s6">
            {{ form.first_name.label_tag }}
            {{ form.first_name }}
          </div>
          <div class="input-field col s6">
            {{ form.last_name.label_tag }}
            {{ form.last_name }}
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            {{ form.password1.label_tag }}
            {{ form.password1 }}
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            {{ form.password2.label_tag }}
            {{ form.password2 }}
          </div>
        </div>

        <div class="row button-row">
          <div class="col s12 center-align">
            <button type="submit" class="btn green white-text" aria-label="Register account">Register</button>
            <a href="{% url 'login' %}" class="btn-flat" aria-label="Go to login page">Log in here</a>
          </div>
        </div>
      </form>
    </div>
  </section>
{% endblock %}
