# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# VS Code
.vscode/

# Django stuff
*.db
db.sqlite3
.env

# Static and media (if you're building these locally)
staticfiles/
media/

# Other stuff
core.Microsoft*
core.mongo*
core.python*
env.py
db_seed.py 
*.json

node_modules/
.github/
cloudinary_python.txt

venv/
