  <div id="confirmation-modal" class="modal">
    <div class="modal-content center-align">
      <h5 id="modal-title">Confirm Action</h5>
      <p id="modal-message">Please enter your password to confirm.</p>
      <input id="modal-password" type="password" class="browser-default" placeholder="Password">
      <div id="modal-error" class="red-text" style="margin-top: 10px;"></div>
    </div>
    <div class="modal-footer center-align">
      <button class="btn grey lighten-1 black-text" onclick="closeModal()">Cancel</button>
      <button class="btn green white-text" onclick="submitModalAction()">Confirm</button>
    </div>
  </div>
  