<div id="delete-modal" class="modal">
    <div class="modal-content center-align">
      <h5 id="delete-modal-title">Confirm Deletion</h5>
      <p>Please enter your password to confirm:</p>
      <input id="delete-password" type="password" class="browser-default" placeholder="Password">
      <div id="delete-error" class="red-text" style="margin-top: 10px;"></div>
    </div>
    <div class="modal-footer center-align">
      <button class="btn grey lighten-1 black-text" onclick="closeDeleteModal()">Cancel</button>
      <button class="btn red white-text" onclick="submitDelete()">Confirm</button>
    </div>
  </div>
  