{% extends 'base.html' %}
{% load static %}

{% block title %}Past Boxes{% endblock %}

{% block content %}
<div class="container">

  <!-- Main Content -->
  <h2>{{ box.name }}</h2>
  <img src="{{ box.image_url}}" alt="{{ box.name }}" class="responsive-img">
  <p><strong>Shpping Date:</strong> {{ box.shipping_date }}</p>
  <p>{{ box.description }}</p>
</div>

<h3>Included Items</h3>

  <ul class="collection">
    {% for product in box.contents.all %}
      <li class="collection-item avatar">
        <img src="{{ product.image_url }}" alt="{{ product.name }}" class="circle">
        <p>{{ product.description }}</p>
        <p><strong>Quantity:</strong> {{ product.quantity }}</p>
      </li>
    {% empty %}
      <li class="collection-item">No products listed for this box.</li>
    {% endfor %}
  </ul>


{% endblock %}
