{% load custom_filters %}

<div class="card white z-depth-1" style="margin-bottom: 20px;">
  <div class="card-content black-text">
    <h5 class="order-id">Order #{{ order.id }}</h5>
    <p><strong>Date:</strong> {{ order.order_date|date:"F j, Y" }}</p>
    <p><strong>Box:</strong> {{ order.box }}</p>
    <p><strong>Gift:</strong> {{ order.is_gift|yesno:"Yes,No" }}</p>
    {% with payments_by_order|get_item:order.id as payment %}
      <p><strong>Payment:</strong>
        {% if payment %}
          £{{ payment.amount }} — {{ payment.status|title }}<br>
          {{ payment.payment_date|date:"M d, Y H:i" }}
        {% else %}
          <em>No payment</em>
        {% endif %}
      </p>
      
    {% endwith %}

{% if order.status == 'cancelled' %}
  <div class="order-status-placeholder">Cancelled</div>
{% else %}
  <form method="post" action="{% url 'update_order_status' order.id %}">
    {% csrf_token %}
    <div class="input-field">
      <select name="status" class="browser-default large-dropdown">
        {% for key, val in order.STATUS_CHOICES %}
          <option value="{{ key }}" {% if order.status == key %}selected{% endif %}>
            {{ val }}
          </option>
        {% endfor %}
      </select>
    </div>
    <button type="submit" class="btn full-width">Update</button>
  </form>
{% endif %}

    <p>
      <strong>Subscription:</strong>
      {% if order.stripe_subscription_id %}
        Linked to subscription: {{ order.stripe_subscription_id }}
      {% else %}
        <em style="display: inline;">Not a subscription</em>
      {% endif %}
    </p>
    {% if order.shipping_address %}
      <a href="#address-modal-{{ order.id }}" class="btn-small center-align modal-trigger">
        <span class="valign center-align" style="width: 100%;">
            View Address
        </span>
      </a>
    {% else %}
      <button class="btn-small grey lighten-1" disabled>
        <span class="valign center-align" style="width: 100%;">
          Missing Address
        </span>  
      </button>
    {% endif %}
  </div>
</div>

{% if order.shipping_address %}
  <div id="address-modal-{{ order.id }}" class="modal">
    <div class="modal-content">
      <h4 class="order-id">Order #{{ order.id }}</h4>
      <h5>Shipping Address</h5>
      <p><strong>{{ order.shipping_address.recipient_f_name }} {{ order.shipping_address.recipient_l_name }}</strong></p>
      <p>{{ order.shipping_address.address_line_1 }}</p>
      {% if order.shipping_address.address_line_2 %}
        <p>{{ order.shipping_address.address_line_2 }}</p>
      {% endif %}
      <p>{{ order.shipping_address.town_or_city }}</p>
      {% if order.shipping_address.county %}
        <p>{{ order.shipping_address.county }}</p>
      {% endif %}
      <p>{{ order.shipping_address.postcode }}</p>
      <p>{{ order.shipping_address.country.name }}</p>
      <p><strong>Phone:</strong> {{ order.shipping_address.phone_number }}</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close btn-flat">Close</a>
    </div>
  </div>
{% endif %}
