{% extends "base.html" %}
{% block title %}Choose Shipping Address{% endblock %}

{% block content %}
<section class="section container">
  <h4 class="green-text text-darken-2 center-align">Choose a Shipping Address</h4>
  {% if gift %}
    <p class="center-align grey-text">These are your gift recipient addresses.</p>
  {% else %}
    <p class="center-align grey-text">These are your personal delivery addresses.</p>
  {% endif %}
  {% if addresses %}
  <div class="address-grid">
    {% for address in addresses %}
    <div class="col">
      <div class="card">
        <div class="card-content">
          <p class="flow-text">
            <strong>{{ address.recipient_f_name }} {{ address.recipient_l_name }}</strong>
            {% if address.is_default %}
              <span class="new badge green" data-badge-caption="Default"></span>
            {% endif %}
          </p>
        
          <p>{{ address.address_line_1 }}</p>
          {% if address.address_line_2 %}
            <p>{{ address.address_line_2 }}</p>
          {% endif %}
          <p>{{ address.town_or_city }}</p>
          <p>{{ address.county }}</p>
          <p>{{ address.postcode }}</p>
          <p>{{ address.country }}</p>
        
          <i class="fas fa-phone-alt left"></i> {{ address.phone_number }}
        </div>
        <div class="card-action" style="display: flex; flex-wrap: wrap; justify-content: center; align-items: center; gap: 0.5rem;">
          <form method="POST" action="">
            {% csrf_token %}
            <input type="hidden" name="shipping_address" value="{{ address.id }}">
            <button type="submit" class="btn green">Deliver to this address</button>
          </form>
        
          <a href="{% url 'edit_address' address.id %}" class="btn teal lighten-1 white-text">
            <i class="fas fa-edit left"></i> Edit
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <p class="red-text center-align">You don’t have any saved addresses yet.</p>
  {% endif %}

  <div class="section center-align">
    <a href="{% url 'add_address' %}?next={% url 'choose_shipping_address' plan=plan %}?gift={{ gift }}" class="btn-flat">
      <i class="fas fa-plus left"></i> Add a New Address
    </a>
  </div>

  <div class="section center-align">
    <a href="{{ request.META.HTTP_REFERER|default:'/' }}" class="btn-flat grey-text text-darken-2">
      <a href="{% url 'account' %}" class="btn grey lighten-1 black-text">
        <i class="fas fa-arrow-left left"></i> Back
      </a>
    </a>
  </div>
</section>
{% endblock %}
