{% extends "base.html" %}
{% block title %}Start Your Order{% endblock %}

{% block content %}
<section class="section center-align">
  <h4 class="green-text text-darken-2">Who's the box for?</h4>
  <p class="grey-text">Choose whether you're treating yourself or sending a gift to someone else.</p>

  <div class="row button-row center-align">
    <a href="{% url 'start_self' %}" class="btn green">
      <i class="fas fa-user left"></i> Buy for Myself
    </a>
    <a href="{% url 'start_gift' %}" class="btn blue">
      <i class="fas fa-gift left"></i> Gift to Someone Else
    </a>
  </div>
</section>
{% endblock %}
