{% extends "base.html" %}
{% block title %}Order History{% endblock %}

{% block content %}
<section class="section container">

  {% with subscriptions|length as subs_count %}
  {% with orders|length as orders_count %}
    {% with subs_count|add:orders_count as total_orders %}
      {% if total_orders >= 4 %}
        <div class="row button-row center-align">
          <a href="{% url 'account' %}" class="btn grey lighten-1 black-text">
            <i class="fas fa-arrow-left left"></i> Back
          </a>
        </div>     
      {% endif %}
    {% endwith %}
  {% endwith %}
  {% endwith %}

  <h3>Subscription Orders</h3>
  {% if subscriptions %}
    <ul class="collection">
      {% for order in subscriptions %}
        {% include "orders/order_list_item.html" %}
      {% endfor %}
    </ul>
  {% else %}
    <p>You don't have any subscription orders yet.</p>
  {% endif %}

  <h3>One-Off Orders</h3>
  {% if orders %}
    <ul class="collection">
      {% for order in orders %}
        {% include "orders/order_list_item.html" %}
      {% endfor %}
    </ul>
  {% else %}
    <p>You haven’t placed any one-off orders yet.</p>
  {% endif %}

  <div class="row button-row center-align">
    <a href="{% url 'account' %}" class="btn grey lighten-1 black-text">
      <i class="fas fa-arrow-left left"></i> Back
    </a>
  </div>

</section>

{% endblock %}
