{% extends 'base.html' %}

{% block title %}Subscribe to HobbyCrate{% endblock %}

{% block content %}
<section class="section center-align">
  <h2 class="green-text text-darken-2">📦 Subscribe to HobbyCrate</h2>
  <p>Choose your subscription length below. Each box contains premium hobby goodies and is shipped monthly.</p>

  <div class="row">
    <div class="col s12 m4">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Monthly Subscription</span>
          <p>£35 per month total. Great if you're unable to make a single large payment.</p>
        </div>
        <div class="card-action">
          <a href="{% url 'create_subscription' 'monthly' %}" class="btn green">Subscribe</a>
        </div>
      </div>
    </div>

  <div class="row">
    <div class="col s12 m4">
      <div class="card">
        <div class="card-content">
          <span class="card-title">3-Month Subscription</span>
          <p>£100 total (save £5). Great for seasonal hobbying.</p>
        </div>
        <div class="card-action">
          <a href="{% url 'create_subscription' '3mo' %}" class="btn green">Subscribe</a>
        </div>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="card">
        <div class="card-content">
          <span class="card-title">6-Month Subscription</span>
          <p>£180 total (save £30). Half a year of hobby joy.</p>
        </div>
        <div class="card-action">
          <a href="{% url 'create_subscription' '6mo' %}" class="btn green">Subscribe</a>
        </div>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="card">
        <div class="card-content">
          <span class="card-title">12-Month Subscription</span>
          <p>£300 total (save £120). Best value for committed hobbyists.</p>
        </div>
        <div class="card-action">
          <a href="{% url 'create_subscription' '12mo' %}" class="btn green">Subscribe</a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
