{% extends 'base.html' %}
{% load static %}

{% block title %}Past Boxes{% endblock %}

{% block content %}
<div class="container">
  <form method="post">
    {% csrf_token %}
    <div class="input-field">
      {{ form.recipient_name.label_tag }}
      {{ form.recipient_name }}
    </div>
    <div class="input-field">
      {{ form.gift_message.label_tag }}
      {{ form.gift_message }}
    </div>
    <div class="row button-row center-align">
      <button class="btn" type="submit" aria-label="Proceed to payment">
        <i class="fas fa-credit-card left"></i> Proceed to Payment
      </button>
    </div>
  </form>
</div>

{% endblock %}
