body {
    background-color: #f4f4f4;
    font-family: sans-serif;
}


.carousel {
    height: 200px !important;
  }
  .carousel .carousel-item {
    height: 200px !important;
    line-height: 200px !important;
  }
  .carousel .carousel-item img {
    max-height: 200px !important;
    width: 200px;
  }
  

  .chip-container {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    justify-content: center;
  }