<div class="card z-depth-1 address-card {% if address.is_gift_address %}gift-address{% else %}personal-address{% endif %}">
  <div class="card-content left-align">
      {% if address.label %}
        <span class="grey-text text-darken-1">({{ address.label }})</span>
      {% endif %}
      <p class="grey-text text-darken-2"><strong>{{ address.recipient_f_name }} {{ address.recipient_l_name }}</strong></p>
      <p>{{ address.address_line_1 }}</p>
      {% if address.address_line_2 %}<p>{{ address.address_line_2 }}</p>{% endif %}
      <p>{{ address.town_or_city }}</p>
      <p>{{ address.county }}</p>
      <p>{{ address.postcode }}</p>
      <p>{{ address.country }}</p>
      <p><em>{{ address.phone_number }}</em></p>
    </div>
  
    <div class="card-action flex-actions">
      <a href="{% url 'edit_address' address.id %}" class="btn-small teal lighten-1 white-text">
        <i class="fas fa-edit left"></i> Edit
      </a>
      <button class="btn-small red white-text delete-address-btn" data-id="{{ address.id }}" aria-label="Delete this address">
        Delete Address
      </button>  
  
      {% if address.is_default %}
      <span class="grey-text text-darken-1">(Default Address)</span>
    {% elif not address.is_gift_address %}
      <form method="post" action="{% url 'set_default_address' address.id %}">
        {% csrf_token %}
        <button class="btn-small green white-text" type="submit">
          <i class="fas fa-check-circle left"></i> Set as Default
        </button>
      </form>
    {% endif %}
    </div>
  </div>
  