{% extends 'base.html' %}
{% load static %}

{% block title %}My Account{% endblock %}

{% block content %}

<section class="section center-align">
  <h2>My Account</h2>
  <div class="row">
    <div class="details-wrapper">
      <div class="card details-card">
        <div class="card-content padded-card-content">
          <p><strong>Name:</strong> {{ request.user.first_name }} {{ request.user.last_name }}</p>
          <p><strong>Username:</strong> {{ request.user.username }}</p>
          <p><strong>Email:</strong> {{ request.user.email }}</p>
          <p><strong>Joined:</strong> {{ request.user.date_joined|date:"d M Y" }}</p>
        </div>
        <div class="card-action center-btn">
          <a href="{% url 'order_history' %}" class="btn green white-text">Order History</a>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="section-divider"></div>

<section class="section center-align">
  <div class="chip-container">
    <a href="{% url 'change_password' %}" class="btn-small blue lighten-1 white-text">Change Password</a>
    <a href="{% url 'edit_account' %}" class="btn-small green white-text">Edit Account</a>
    <a href="{% url 'delete_account' %}" class="btn-small red white-text">Delete Account</a>
  </div>
</section>

<div class="section-divider"></div>

<section class="section center-align">
  <h3>Saved Addresses</h3>

  <div class="address-grid">
    {% for address in request.user.addresses.all %}
      <div class="col">
        {% include "users/includes/address_card.html" with address=address %}
      </div>
    {% endfor %}
  </div>


  

  <div class="row">
    <div class="col s12 center-align button-row">
      <a href="{% url 'add_address' %}" class="btn teal white-text">
        <i class="fas fa-plus left"></i> Add Another Address
      </a>
    </div>
  </div>
</section>

{% endblock %}
