{% extends 'base.html' %}
{% load static %}

{% block title %}My Account{% endblock %}

{% block content %}

<section class="section center-align">
  <h2>My Account</h2>

  {% include "partials/form_errors.html" %}
  <div class="row">
    <div class="details-wrapper">
      <div class="card details-card">
        <div class="card-content padded-card-content">
          <p><strong>Name:</strong> {{ request.user.first_name }} {{ request.user.last_name }}</p>
          <p><strong>Username:</strong> {{ request.user.username }}</p>
          <p><strong>Email:</strong> {{ request.user.email }}</p>
          <p><strong>Joined:</strong> {{ request.user.date_joined|date:"d M Y" }}</p>
        </div>
        <div class="card-action center-btn">
          <a href="{% url 'order_history' %}" class="btn green white-text">Order History</a>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="section-divider"></div>

<section class="section center-align">
  <div class="chip-container button-wrapper">
    <a href="{% url 'change_password' %}" class="btn-small blue lighten-1 white-text">Change Password</a>
    <a href="{% url 'edit_account' %}" class="btn-small green white-text">Edit Account</a>
    <button id="delete-account-btn" class="btn-small red white-text">
      Delete Account
    </button>
  </div>
</section>

<div class="section-divider"></div>

<section class="section center-align">
  <h3>Saved Addresses</h3>

  <div class="row button-container">
    <a href="{% url 'add_address' %}?gift=false&next={{ request.path }}" class="btn teal white-text">
      <i class="fas fa-plus left"></i> Add Personal Address
    </a>

    <a href="{% url 'add_address' %}?gift=true&next={{ request.path }}" class="btn teal lighten-2 white-text">
      <i class="fas fa-gift left"></i> Add Gift Address
    </a>
  </div>
  
  <!-- Personal Addresses -->
  <div class="row">
    <h5 class="center-align">Your Personal Addresses</h5>
    {% if personal_addresses %}
      <div class="address-grid">
        {% for address in personal_addresses %}
          <div class="col">
            {% include "users/includes/address_card.html" with address=address %}
          </div>
        {% endfor %}
      </div>
    {% else %}
      <p class="grey-text">You have no personal addresses saved.</p>
    {% endif %}
  </div>

  <!-- Gift Addresses -->
  <div class="row">
    <h5 class="center-align">Gift Recipient Addresses</h5>
    {% if gift_addresses %}
      <div class="address-grid">
        {% for address in gift_addresses %}
          <div class="col">
            {% include "users/includes/address_card.html" with address=address %}
          </div>
        {% endfor %}
      </div>
    {% else %}
      <p class="grey-text">You have no gift recipient addresses saved.</p>
    {% endif %}
  </div>


</section>

{% endblock %}
