{% extends 'base.html' %}
{% load static %}

{% block title %}My Account{% endblock %}

{% block content %}
  <section class="section center-align">
    <h2>My Account</h2>
    <div class="row">
      <p><strong>Username:</strong> {{ request.user.username }}</p>
      <p><strong>Email:</strong> {{ request.user.email }}</p>
      <p><strong>Name:</strong> {{ request.user.first_name }} {{ request.user.last_name }} </p>
      <p><strong>Joined:</strong> {{ request.user.date_joined|date:"d M Y" }}</p>
    </div>
  </section>
{% endblock %}
