{% extends 'base.html' %}
{% load static %}

{% block title %}Change Password{% endblock %}

{% block content %}
  <section class="section center-align">
    <h2>Change Password</h2>
    <div class="row form-wrapper">
      {% include "partials/form_errors.html" %}
      <form class="col s12" method="post">
        {% csrf_token %}
        <div class="row">
          <div class="input-field col s12">
            {{ form.current_password.label_tag }}
            {{ form.current_password }}
          </div>          
        </div>
        <div class="row">
          <div class="input-field col s12">
            {{ form.password1.label_tag }}
            {{ form.password1 }}
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            {{ form.password2.label_tag }}
            {{ form.password2 }}
          </div>
        </div>
        <div class="row button-row center-align">
          <a href="{% url 'account' %}" class="btn grey lighten-1 black-text">
            <i class="fas fa-arrow-left left"></i> Back
          </a>
          <button type="submit" class="btn green white-text">
            Save
          </button>
        </div>
      </form>
    </div>
  </section>
{% endblock %}
