{% extends 'base.html' %}
{% load static %}

{% block title %}Change Password{% endblock %}

{% block content %}
  <section class="section center-align">
    <h2>Change Password</h2>
    <div class="row">
      <form class="col s12" method="post">
        {% csrf_token %}
        <div class="row">
          <div class="input-field col s12">
            {{ form.password1.label_tag }}
            {{ form.password1 }}
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            {{ form.password2.label_tag }}
            {{ form.password2 }}
          </div>
        </div>
        <button type="submit" class="btn">Confirm</button>
      </form>
    </div>
  </section>
{% endblock %}
