{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Change Password{% endblock %}

{% block content %}
  <section class="section center-align">
    <h2 class="center-align green-text text-darken-3">Change Password</h2>
    <div class="row form-wrapper">
      <form class="col s12" method="post">
        {% include 'partials/form_errors.html' %}
        {% csrf_token %}

        <!-- Hidden username for Google autocomplete -->
        <input type="text" name="username" autocomplete="username" style="display:none;" aria-hidden="true">

        <div class="row">
          <div class="input-field col s12">
            {{ form.current_password.label_tag }}
            {{ form.current_password|attr:"autocomplete:current-password" }}
          </div>          
        </div>
        <div class="row">
          <div class="input-field col s12">
            {{ form.password1.label_tag }}
            {{ form.password1|attr:"autocomplete:new-password" }}
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            {{ form.password2.label_tag }}
            {{ form.password2|attr:"autocomplete:new-password" }}
          </div>
        </div>
        <div class="row button-row center-align">
          <a href="{% url 'account' %}" class="btn grey lighten-1 black-text">
            <i class="fas fa-arrow-left left"></i> Back
          </a>
          <button type="submit" class="btn green darken-3 white-text">
            Save
          </button>
        </div>
      </form>
    </div>
  </section>
{% endblock %}
