{% extends 'base.html' %} {% load static %} {% block title %}Edit Account{%
endblock %} {% block content %}
<section class="section center-align">
  <h2 class="center-align green-text text-darken-3" id="edit-account-title">
    Edit Your Account
  </h2>
  {% include "partials/form_errors.html" %}
  <div class="row form-wrapper">
    <form
      method="post"
      class="form-wrapper"
      role="form"
      aria-labelledby="edit-account-title"
    >
      {% csrf_token %}

      <!-- Email row: disabled field, change via modal -->
      <div class="card red lighten-5 z-depth-1 mb-4 col s12">
        <div class="card-content">
          <div class="row email-row">
            <div class="input-field email-input">
              {{ form.email.label_tag }} {{ form.email }}
            </div>
            <div class="email-button">
              <button
                type="button"
                class="btn red darken-2"
                id="change-email-btn"
                aria-label="Change your email address"
              >
                Change Email
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Other fields -->
      <div class="card z-depth-1 col s12">
        <div class="card-content">
          <h5 class="center-align">Account Details</h5>
          <div class="row">
            <div class="input-field col s12">
              {{ form.username.label_tag }} {{ form.username }}
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
              {{ form.first_name.label_tag }} {{ form.first_name }}
            </div>
            <div class="input-field col s6">
              {{ form.last_name.label_tag }} {{ form.last_name }}
            </div>
          </div>
        </div>
        <div class="card-action center-align account-card-action">
          <a
            href="{% url 'account' %}"
            class="btn grey lighten-1 black-text"
            aria-label="Go back to My Account"
            >Back</a
          >
          <button
            type="submit"
            class="btn green darken-3 white-text"
            aria-label="Save account changes"
          >
            Save
          </button>
        </div>
      </div>
    </form>
  </div>
</section>
{% endblock %}
