{% extends 'base.html' %} {% block title %}Set New Password{% endblock %} {%
block content %}
<div class="container" role="region" aria-labelledby="set-password-heading">
  <h2 id="set-password-heading" class="center-align green-text text-darken-3">
    Set Your New Password
  </h2>
  <form method="POST" role="form" aria-describedby="set-password-heading">
    {% csrf_token %} {{ form.as_p }}
    <button
      type="submit"
      class="btn green darken-3"
      aria-label="Save new password"
    >
      Save New Password
    </button>
  </form>
</div>
{% endblock %}
