{% extends 'base.html' %} {% block title %}Password Successfully Reset{%
endblock %} {% block content %}
<div
  class="container center-align"
  role="region"
  aria-labelledby="password-reset-success"
>
  <h2 class="center-align green-text text-darken-3" id="password-reset-success">
    Your password has been reset successfully.
  </h2>
  <p>
    You can now
    <a href="{% url 'login' %}" aria-label="Login with your new password"
      >login with your new password</a
    >.
  </p>
</div>
{% endblock %}
