{% extends 'base.html' %}
{% load static %}

{% block title %}Register{% endblock %}

{% block content %}
  <section class="section center-align">
    <h2>Register</h2>
    <div class="row" style="max-width: 700px; margin: 0 auto;">
      <form class="col s12" method="post">
        {% csrf_token %}
        <div class="row">
          <div class="input-field col s6">
            {{ form.username.label_tag }}
            {{ form.username }}
          </div>
          <div class="input-field col s6">
            {{ form.email.label_tag }}
            {{ form.email }}
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            {{ form.first_name.label_tag }}
            {{ form.first_name }}
          </div>
          <div class="input-field col s6">
            {{ form.last_name.label_tag }}
            {{ form.last_name }}
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            {{ form.password1.label_tag }}
            {{ form.password1 }}
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            {{ form.password2.label_tag }}
            {{ form.password2 }}
          </div>
        </div>
        <button type="submit" class="btn">Register</button>
        <p class="center-align" style="margin-top: 20px;">
          Already have an account?
          <a href="{% url 'login' %}" class="btn-flat">Log in here</a>
        </p>
      </form>
    </div>
  </section>
{% endblock %}
