{% extends "base.html" %}
{% block title %}Add New Box{% endblock %}

{% block content %}
<div class="container">
  <h4>{% if editing %}Edit Box{% else %}Add New Box{% endif %}</h4>


  <form method="post">
    {% csrf_token %}

    <div class="input-field">
      {{ form.name.label_tag }}
      {{ form.name }}
    </div>

    <div class="input-field">
      {{ form.description.label_tag }}
      {{ form.description }}
    </div>

    <div class="input-field">
      {{ form.image_url.label_tag }}
      {{ form.image_url }}
    </div>

    <div class="input-field">
      {{ form.shipping_date.label_tag }}
      {{ form.shipping_date }}
    </div>

    <p>
      <label>
        {{ form.is_archived }} <span>Archive this box?</span>
      </label>
    </p>

    {% if form.errors %}
    <div class="card-panel red lighten-4 red-text text-darken-4">
      <ul>
        {% for field in form %}
          {% for error in field.errors %}
            <li><strong>{{ field.label }}:</strong> {{ error }}</li>
          {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
  

    <button class="btn green" type="submit">
      {% if editing %}Update{% else %}Save{% endif %}
    </button>
    <a href="{% url 'box_admin' %}" class="btn grey">Cancel</a>
    {% if box %}
    <a href="{% url 'edit_box_products' box.id %}">Manage Products</a>
    {% endif %}
  </form>
</div>
{% endblock %}
