{% extends 'base.html' %}
{% block title %}Box Contents{% endblock %}

{% block content %}
<div class="container">
  <h4>Contents of "{{ box.name }}"</h4>

  <div class="right-align">
    <a href="{% url 'add_product_to_box' box.id %}" class="btn green">➕ Add Product</a>
    <a href="{% url 'box_admin' %}" class="btn grey">Back to Boxes</a>
  </div>

  {% if products %}
    <div class="row">
      {% for product in products %}
        <div class="col s12 m6 l4">
          <div class="card small">
            {% if product.image %}
              <div class="card-image">
                <img src="{{ product.image.url }}" alt="{{ product.name }}">
              </div>
            {% endif %}
            <div class="card-content">
              <span class="card-title">{{ product.name }}</span>
              <p>{{ product.description|default:"No description" }}</p>
              <p><strong>Quantity:</strong> {{ product.quantity }}</p>
            </div>
            <div class="card-action">
              <a href="{% url 'edit_product' product.id %}" class="btn-small">Edit</a>
              <a href="{% url 'remove_product_from_box' product.id %}?box_id={{ box.id }}" class="btn-small orange">Remove</a>
              <a href="{% url 'delete_product' product.id %}" class="btn-small red">Delete</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p>No products in this box yet.</p>
  {% endif %}
</div>
{% endblock %}


