{% extends 'base.html' %}
{% block title %}Box Manager{% endblock %}

{% block content %}
<div class="container">
  <h2 class="center-align">📦 Box Manager</h2>

  <div class="section center-align">
    <a href="{% url 'add_box' %}" class="btn green">
      <i class="fas fa-plus left"></i> Add New Box
    </a>
    </div>

  <div class="container">
    <h4>Existing Boxes</h4>

<div class="row">
  {% for box in boxes %}
    <div class="col s12">
      <div class="card horizontal hoverable">
        <div class="card-stacked">
          <div class="card-content">
            <p class="box-title-inline">
              <strong>{{ box.name }}</strong> — {{ box.shipping_date|date:"d M Y" }}
            </p>
            <div class="archive-badge-container">
              {% if box.is_archived %}
                <span class="new badge red archive-badge" data-badge-caption="Archived"></span>
              {% endif %}
            </div>
          </div>
          <div class="card-action admin-btn-group">
            <a href="{% url 'edit_box' box.id %}" class="btn-small green">
              <i class="fas fa-pencil-alt left"></i> Edit
            </a>
            <a href="{% url 'edit_box_products' box.id %}" class="btn-small blue">
              <i class="fas fa-box-open left"></i> Products
            </a>
            <a href="#!" class="btn-small red delete-box-btn" data-id="{{ box.id }}">
              <i class="fas fa-trash-alt left"></i> Delete
            </a>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

{% include 'dashboard/partials/product_list.html' with product=product %}

  
{% endblock %}
