{% extends 'base.html' %}
{% block title %}Box Contents{% endblock %}

{% block content %}
<div class="container">
  <h4>Contents of "{{ box.name }}"</h4>

  <div class="row button-row center-align">
    <a href="{% url 'add_product_to_box' box.id %}" class="btn green">
      <i class="fas fa-plus"></i> Add Product
    </a>
    <a href="{% url 'box_admin' %}" class="btn grey">
      <i class="fas fa-arrow-left"></i> Back to Boxes
    </a>
  </div>

  <div class="product-grid">
    {% if products %}
      {% for product in products %}
        <div class="col">
          <div class="card">
            <div class="card-image">
              {% if product.image %}
              <img src="{{ product.image.url }}" alt="{{ product.name }}" class="responsive-img product-card-image">
              {% endif %}
            </div>
            <div class="card-content">
              <h5>{{ product.name }}</h5>
              <p>{{ product.description|default:"No description" }}</p>
              <p><strong>Quantity:</strong> {{ product.quantity }}</p>
            </div>
            <div class="card-action btn-group">
              <a href="{% url 'edit_product' product.id %}" class="btn-small green">
                <i class="fas fa-edit"></i> Edit
              </a>
              <a href="{% url 'remove_product_from_box' product.id %}?box_id={{ box.id }}" class="btn-small orange">
                <i class="fas fa-trash-alt"></i> Remove
              </a>
              <a href="#!" class="btn-small red delete-product-btn" data-id="{{ product.id }}">
                <i class="fas fa-trash-alt left"></i> Delete
              </a>
            </div>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <p>No products in this box yet.</p>
    {% endif %}
  </div>
  <hr>
  <div class="section">
    <h4>Orphaned Products (Unassigned)</h4>
  
    {% if orphaned_products %}
      <form id="orphaned-products-form" method="POST" action="{% url 'assign_orphaned_to_box' box.id %}">
        {% csrf_token %}
        <div class="section center-align">
          <button type="submit" class="btn green">
            <i class="fas fa-plus left"></i> Add Selected to Box
          </button>
        </div>
  
        <ul class="collection">
          {% for product in orphaned_products %}
            <li class="collection-item">
              <div class="row row-no-margin">
                <div class="col s1">
                  <label>
                    <input type="checkbox" name="product_ids" value="{{ product.id }}" />
                    <span></span>
                  </label>
                </div>
                <div class="col s5">
                  <strong>{{ product.name }}</strong> (x{{ product.quantity }})
                </div>
                <div class="col s6 right-align">
                  <div class="secondary-content btn-group">
                    <a href="{% url 'edit_product' product.id %}" class="btn-small">
                      <i class="fas fa-edit left"></i> Edit
                    </a>
                    <button type="submit" name="action" value="delete" class="btn-small red">
                        <i class="fas fa-trash-alt left"></i> Delete
                    </button>
                  </div>
                </div>
              </div>
            </li>
          {% endfor %}
        </ul>
      </form>
    {% else %}
      <p class="grey-text">No orphaned products available.</p>
    {% endif %}
  </div>
  
</div>
{% endblock %}
