{% extends 'base.html' %}
{% block title %}{% if editing %}Edit Product{% else %}Add Product{% endif %}{% endblock %}

{% block content %}
<div class="container">
  <h4>{% if editing %}Edit Product{% else %}Add Product{% endif %}</h4>

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="input-field">{{ form.name.label_tag }}{{ form.name }}</div>
    <div class="input-field">{{ form.description.label_tag }}{{ form.description }}</div>
    <div class="file-field input-field">
      <div class="btn">
        <span>Upload Image</span>
        {{ form.image }}
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text" placeholder="Upload an image">
      </div>
    </div>
    {% if editing and product and product.image %}
      <p>Current Image:</p>
      <img src="{{ product.image.url }}" alt="{{ product.name }}" class="responsive-img small-preview">
    {% endif %}
    <div class="section">
      <label for="{{ form.quantity.id_for_label }}">Quantity</label>
      {{ form.quantity }}
    </div>
    {% if form.box %}
    <div class="section">
      <label for="{{ form.box.id_for_label }}">Box</label>
      {{ form.box }}
    </div>
  {% endif %}
  <div class="button-row">
    <button type="submit" class="btn green">{% if editing %}Update{% else %}Save{% endif %}</button>
    <a href="{% url 'box_admin' %}" class="btn grey">Cancel</a>
  </div>
  </form>
</div>
{% endblock %}
