{% extends 'base.html' %}
{% load static %}

{% block title %}{{ box.name }}{% endblock %}

{% block content %}
<div class="container">
  <!-- Box Overview -->
  <section class="section center-align">
    <h2 class="green-text text-darken-3">{{ box.name }}</h2>
    <img src="{{ box.image.url }}" alt="{{ box.name }}" class="responsive-img responsive-image z-depth-1">
    <p class="grey-text">📦 Shipped: {{ box.shipping_date|date:"F j, Y" }}</p>
    <p class="flow-text grey-text text-darken-2 mt-1r">{{ box.description }}</p>
  </section>

  <div class="section-divider"></div>

  <!-- Product List -->
  <section class="section">
    <h4 class="green-text text-darken-3 center-align">Included Items</h4>
    <div class="product-grid">
      {% for product in box.products.all %}
        <div class="col">
          <div class="card z-depth-1">
            <div class="card-image">
              <img src="{{ product.image.url }}" alt="{{ product.name }}" class="responsive-img product-card-image">
            </div>
            <div class="card-content">
              <h6 class="green-text text-darken-3">{{ product.name }}</h6>
              <p class="grey-text text-darken-2">{{ product.description }}</p>
              <p class="grey-text"><strong>Quantity:</strong> {{ product.quantity }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    
  </section>
  
  
</div>
{% endblock %}
